
.board{
  $twidth: 550px;
  $swidth: 475px;
  @media screen and (max-width: $twidth){
    max-width: 450px;
    max-height: 450px;
  }
  @media screen and (max-width: $swidth){
    max-width: 350px;
    max-height: 350px;
  }
}

input {
  $twidth: 550px;
  $swidth: 475px;
  @media screen and (max-width: $twidth){
    max-width: 3em;
    max-height: 3em;
  }
  @media screen and (max-width: $swidth){
    max-width: 2em;
    max-height: 2em;
  }
}

.grid {
  $twidth: 550px;
  $swidth: 475px;
  @media screen and (max-width: $twidth){
    margin: 4.5% 0% 0% 3.8%;
  }
  @media screen and (max-width: $swidth){
    margin: 4% 0% 0% 1.8%;
  }
}
